<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001980112726-rpm7mk99vnib6klplq6irbr58j38kbuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001980112726-rpm7mk99vnib6klplq6irbr58j38kbuk</string>
	<key>API_KEY</key>
	<string>AIzaSyACGeDiASzz8LpUj5NISmeBUIJ8Thoq0PY</string>
	<key>GCM_SENDER_ID</key>
	<string>1001980112726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dailystudioBlogProject</string>
	<key>PROJECT_ID</key>
	<string>dailyblogproject-e323c</string>
	<key>STORAGE_BUCKET</key>
	<string>dailyblogproject-e323c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001980112726:ios:2cd5135b89e0fe9bfa70f7</string>
</dict>
</plist>